/* Styling for the entire homepage */

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%; /* Full page width */
    height: calc(100vh - 170px); /* Height minus footer */
    background-image: url('../assets/airimg.jpg'); /* Set your background image */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repetition */
    color: white; /* Light text for visibility on dark backgrounds */
    text-align: center;
    position: relative;
    overflow: hidden; /* Prevents any content overflow */
  }
  

  /* Button link styling */
  .browse-flights {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #007bff; /* Button background */
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }
  
  .browse-flights:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  